<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAWm8vilXLkb3Fr8Hr3RTigdiv4scI6ZR4</string>
	<key>GCM_SENDER_ID</key>
	<string>620892733725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled</string>
	<key>PROJECT_ID</key>
	<string>karaoke-list-project</string>
	<key>STORAGE_BUCKET</key>
	<string>karaoke-list-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620892733725:ios:cceef0ed9ac950d3fd21f4</string>
	<key>DATABASE_URL</key>
	<string>https://karaoke-list-project-default-rtdb.firebaseio.com</string>
</dict>
</plist>